altgraph>=0.17
certifi>=2022.12.7
charset-normalizer>=3.1.0
idna>=3.4
pefile>=2023.2.7
pyee>=11.0
pyinstaller>=6.10.0
pyinstaller-hooks-contrib>=2023.1
pywin32-ctypes>=0.2.0
python-socketio>=5.0
requests>=2.31.0
TouchPortal-API>=1.7.9
typing_extensions>=4.5.0
urllib3>=1.26.15
websocket-client>=1.0
ytmd-sdk>=1.2.0